body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
}

.logo-holder {
  display: flex;
  padding: 8px 40px;
  margin-right: auto;
}

.header img {
  height: 30px;
  width: 150%;
  object-fit: contain;
}

.right_links {
  margin-left: auto;
  padding: 8px 40px;
}

.right_links ul {
  display: flex;
  gap: 16px;
}

.right_links a {
  text-decoration: none;
}

.right_links li {
  list-style: none;
}